{% extends 'base.html.twig' %}

{% block title %}Property Search{% endblock %}

{% block body %}
    <div class="container">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h1 class="mb-0">Property Search</h1>
            </div>

            <div class="card-body">
                {# Include the search form #}
                {% include 'components/_search_form.html.twig' %}

                {# Display search results #}
                {% include 'components/_search_results.html.twig' %}

                {# Include recommendations section #}
                {% include 'components/_recommendations.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
